.outerBox::before,
.outerBox::after,
.innerBox::before,
.innerBox::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background: #c96659;
}

.outerBox::before {
  top: 0;
  left: 0;
}
.outerBox::after {
  right: 0;
  bottom: 0;
}

.innerBox::before {
  left: -26px;
  bottom: -26px;
}
.innerBox::after {
  right: -26px;
  top: -26px;
}
